.card {
  padding: var(--padding-form-item) var(--padding-small);
  background: var(--background);
  box-shadow: 0px 0px 1px rgba(68, 80, 95, 0.08),
    0px 1px 4px rgba(68, 80, 95, 0.2);
  border-radius: 8px;
}
