:root {
  --text: #2A333D;
  --danger: #D83B3B;
  --background: #ffffff;
  --border-color: #A0BCDB;
  --hairline: #EFF2F6;
  --placeholder-color: #A3ACB8;
  --secondary-background: #F7FBFF;
  --secondary-text: #0071F3;
  --primary-background: #0071F3;
  --primary-text: #FFFFFF;
  --padding-form-item: 12px;
  --padding-big: 16px;
  --padding-small: 8px;
  --margin: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
