:root {
  --text: #2a333d;
  --danger: #d83b3b;
  --background: #ffffff;
  --border-color: #a0bcdb;
  --hairline: #eff2f6;
  --placeholder-color: #a3acb8;
  --secondary-background: #f7fbff;
  --secondary-text: #0071f3;
  --primary-background: #0071f3;
  --primary-text: #ffffff;
  --padding-form-item: 12px;
  --padding-big: 16px;
  --padding-small: 8px;
  --margin: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
